@mixin font-face($font-family, $url, $font-style, $font-weight) {
  font-display: swap;
  font-family: #{$font-family};
  src: url(#{$url}) format('woff2');
  font-style: #{$font-style};
  font-weight: #{$font-weight};
}

@font-face {
  @include font-face('Source Code Pro', '/fonts/source-code-pro-roman.woff2', 'normal', 100 900);
}

@font-face {
  @include font-face('Source Code Pro', '/fonts/source-code-pro-italic.woff2', 'italic', 100 900);
}

.markdown-body {
  line-height: 1.6;

  // 代码块
  pre, pre code {
    font-family: Source Code Pro, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em;
    tab-size: 4;
    color: #8ecdff;
    background: #383838;
    display: block;
    padding: 16px 24px;
    width: max-content;
    min-width: 100%;

    ::selection {
      background: rgb(102, 102, 102, .5);
    }
  }

  pre {
    width: 100%;
    overflow-x: auto;
    padding: 0;
  }

  .pre-wrap {
    margin-bottom: 16px;

    pre {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // 内联代码块
  p > code,
  .inline-code {
    margin: 0 4px;
    color: #476582;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    padding: 2px 6px;
  }

  // 引用
  blockquote {
    color: rgba(0, 0, 0, 0.45);
    background-color: #e6f7ff;
    border-left: 8px solid #91d5ff;
    padding: 16px;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  // 标题
  h1, h2, h3, h4, h5, h6 {
    a {
      color: #abb2bf !important;
      opacity: 0;
      margin-left: 4px;
    }

    &:hover a {
      opacity: 1;
    }

    a:hover {
      color: var(--color-accent-fg) !important;
    }
  }

  // 图片
  img {
    max-width: 100%;
    cursor: pointer;
  }

  // 水平线
  hr {
    height: 2px;
  }

  .code-line,
  .line-number:before {
    display: block;
    border-left: 4px solid transparent;
  }

  // 行号
  .line-number {
    background: inherit;
    padding-left: 28px;

    &:before {
      display: inline-block;
      content: attr(line);
      user-select: none;
      box-sizing: border-box;
      width: 48px;
      padding: 0 12px;
      text-align: right;
      color: #808080;
      position: absolute;
      left: 0;
      background: inherit;
    }
  }

  // 高亮
  .highlight-line,
  .highlight-line.line-number:before {
    border-color: #3992ff;
    background-color: rgba(51, 65, 85, .5);
    background-color: #353f4d;
  }

  // 新增
  .code-line.inserted {
    //background-color: rgba(16, 185, 129, 0.2);
    background-color: #3a5248;
  }

  // 删除
  .code-line.deleted {
    //background-color: rgba(239, 68, 68, 0.2);
    background-color: #5b3d3a;
  }

  .math-display, .bytemd-mermaid {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .emoji-wrap {
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: translateY(3px);
    overflow: hidden;
  }

  .joypixels {
    transform: scale(.625);
    transform-origin: left top;
    margin: 0;
    padding: 0;
    top: 0;
  }
}

.token.function,
.token.attr-name {
  color: #3992ff;
}

.token.string,
.token.attr-value {
  color: #6bd968;
}

.token.punctuation {
  color: #a4a4a4;
}

.token.tag,
.token.class-name {
  color: #fecc1b;
}

.token.comment {
  color: #808080;
}

.token.variable {
  color: #8ecdff;
}
